/* estilos para el body*/
body {
  background-color: rgba(251, 245, 245, 0.637);
  margin: 0;
  padding: 0;
}
.bodyTabla {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

h2 {
  text-align: center;
  margin-top: 300px;
  font-size: 30px;
  text-decoration: underline dotted;
  margin-bottom: 30px;
  font-family: "Orbitron", sans-serif;
}

header {
  box-shadow: 0 2px 8px 0 #000;
  background-color: #0c1f4c;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  font-family: "Orbitron", sans-serif;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1000;
}

.logo img {
  height: 200px;
  color: white;
}

.title {
  flex: 1;
  text-align: center;
  font-size: 40px;
}

.radio {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.icon-radio {
  font-weight: bold;
  font-size: 40px;
  margin-right: 20px;
}

.texto {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  text-align: center;
}

.frequency {
  margin-right: 10px;
}

.slogan {
  text-align: center;
  font-size: 12px;
}

.botones {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
}

.botones button {
  background-color: #0c3255;
  box-shadow: 0 8px 6px 0 #000;
  color: rgba(248, 248, 248, 0.879);
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  width: 400px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}

.botones button:hover {
  transition: 0.3s ease;
  background-color: #eac447;
  color: black;
  border: none;
  border-radius: 5px;
  scale: 1.05;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

footer {
  box-shadow: inset 0 2px 8px 0 #000;
  background-color: #dcc91ff1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
}

footer p {
  width: 48%;
  color: rgb(19, 14, 14);
}

footer a {
  margin-right: 10px;
  text-decoration: underline;
  color: rgb(22, 22, 24);
  margin: 10px;
}

footer a:hover {
  text-decoration: underline;
  color: rgb(22, 35, 214);
}

footer i {
  font-size: 30px;
}

.btn-volver {
  margin-bottom: 2rem;
  font-family: "Orbitron", sans-serif;
}
.btn-volver a {
  background-color: #133686;
  color: #fff;
  width: auto;
  padding: 15px;
  margin-top: 5px;
  text-decoration: none;
  border-radius: 20px;
}
.btn-volver a:hover {
  background-color: #03223e;
  color: white;
  width: auto;
  padding: 10px;
  margin-top: 5px;
  text-decoration: none;
}

.tabla-container {
  margin: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  font-family: "Montserrat Alternates", sans-serif;
}

.tabla th,
.tabla td {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
}
td {
  text-align: center;
  border: 2px solid rgba(8, 8, 12, 0.2);
}
.columnDetalle {
  width: 30%;
}

.align-left {
  text-align: left;
}

thead td {
  background-color: #efe442;
  color: #fff;
  padding: 15px;
  font-weight: bold;
  border: 1px solid black;
  color: #000;
  font-size: 1.1rem;
  font-family: "Orbitron", sans-serif;
}

tbody td {
  background-color: #041e5b;
  padding: 15px;
  border: 1px solid rgba(228, 228, 220, 0.5);
  color: rgba(248, 248, 248);
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}
/* 
header {
  width: 1140px;
  max-width: 80%;
  margin: auto;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
}

header a {
  color: #eee;
  margin-right: 5px;
  padding: 5px 10px;
  transition: 0.2s;
} */

a.active {
  background: #14ff72cb;
  border-radius: 2px;
}

header a:hover {
  background: #14ff72cb;
  border-radius: 2px;
}

/* slider section  */

.slider {
  height: 100vh;
  margin: 30px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.slider .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}
.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .list .item .content {
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color:yellow;
  text-shadow: 0 5px 10px #0004;
}

.slider .list .item .content .description {
  display: flex;
  width: 40%;
  padding: 10px;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.264);
  color: #000;
  border-radius: 20px;
  font-weight: bold;
  /* color:white; */
}

.slider .list .item .content .title,
.slider .list .item .content .type {
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
}
.slider .list .item .type {
  /* color: #14ff72cb; */
  color: #fffb02;
}
.slider .list .item .button {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}
.slider .list .item .button button {
  border: none;
  background-color: #eee;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s;
  letter-spacing: 2px;
}

.slider .list .item .button button:hover {
  letter-spacing: 3px;
}
.slider .list .item .button button:nth-child(2) {
  background-color: transparent;
  border: 1px solid #fff;
  color: #eee;
}

/* Thumbnail Section  */
.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}

/* nextPrevArrows Section  */
.nextPrevArrows {
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.nextPrevArrows button {
  width: 100px;
  height: 40px;
  /* border-radius: 50%; */
  border-radius: 20px;
  /* background-color: #14ff72cb; */
  background-color: #0f03fdcb;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer; 
}
.nextPrevArrows button:hover {
  background-color: #fff;
  color: #000;
}

/* Animation Part */
.slider .list .item:nth-child(1) {
  z-index: 1;
}

/* animation text in first item */
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}
@keyframes showContent {
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.slider .list .item:nth-child(1) .content .title {
  animation-delay: 0.4s !important;
}
.slider .list .item:nth-child(1) .content .type {
  animation-delay: 0.6s !important;
}
.slider .list .item:nth-child(1) .content .description {
  animation-delay: 0.8s !important;
}
.slider .list .item:nth-child(1) .content .buttons {
  animation-delay: 1s !important;
}

/* Animation for next button click */
.slider.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.slider.next .thumbnail .item:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.slider.prev .list .item img {
  z-index: 100;
}


@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}

.slider.next .thumbnail {
  animation: effectNext 0.5s linear 1 forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}

/* Animation for prev button click */
.slider.prev .list .item:nth-child(2) {
  z-index: 2;
}

.slider.prev .list .item:nth-child(2) img {
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}

.slider.prev .thumbnail .item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button {
  pointer-events: none;
}

.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons {
  animation: contentOut 1.5s linear 1 forwards !important;
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}
@media screen and (max-width: 678px) {
  .slider .list .item .content {
    padding-right: 0;
  }
  .slider .list .item .content .title {
    font-size: 50px;
  }
}
/* Estilos para celular */
@media only screen and (min-width: 0px) {
  
.slider .list .item .content .description {
  display: flex;
  width: 90%;
  padding: 10px;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.264);
  color: #000;
  border-radius: 20px;
  font-weight: bold;
  /* color:white; */
}

.description {
  font-size: 0.7em!important;
  font-weight: bold;
  line-height: 1.3em;
}
  .logo {
    width: 50px !important;
    transform: scale(1.1);
  }
  header img {
    object-fit: contain;
    width: 100%;
    height: 10vh !important;
    margin-right: 0px;
  }

  header h1 {
    font-size: 16px;
  }

  header .texto {
    display: none;
    font-size: 8px !important;
  }
  header .icon-radio {
    font-size: 20px !important;
  }

  h2 {
    margin: 20px;
    margin-top: 6rem;
    font-size: 20px;
  }

  .botones button {
    width: 250px;
  }

  .btn-volver {
    margin: 1rem 0px;
    margin-left: 1rem;
    padding-bottom: 20px;
    position: static;
  }
  .btn-volver a {
    font-size: 12px;
    background-color: #ef2d56;
    color: #fff;
    width: auto;
    text-decoration: none;
    padding: 8px 15px;
  }
  .btn-volver a:hover {
    background-color: #ad1435;
    color: white;
    scale: 1.05;
    text-decoration: none;
    cursor: pointer;
  }

  .tabla-container {
    margin: 20px;
    overflow-x: auto;
  }
  .tabla th,
  .tabla td {
    padding: 4px;
  }

  thead td {
    padding: 8px;
    font-size: 1rem;
  }

  tbody td {
    background-color: #041e5b;
    padding: 15px;
    border: 1px solid rgba(228, 228, 220, 0.5);
    color: rgba(248, 248, 248);
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
  }
  footer p {
    font-size: 13px;
  }
  footer p:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
  }

}

/* Estilos para celular */
@media only screen and (min-width: 430px) {
  .slider .list .item .content .description {
    width: 60%;
    /* color:white; */
  }
  
  .description {
    font-size: 1em!important;
    font-weight: bold;
    line-height: 1.3em;
  }
  .logo {
    width: 50px !important;
  }
  header img {
    object-fit: contain;
    width: 100%;
    height: 10vh !important;
    margin-right: 0px;
  }

  header h1 {
    font-size: 20px;
  }

  header .texto {
    display: none;
    font-size: 8px !important;
  }
  header .icon-radio {
    font-size: 25px !important;
  }

  h2 {
    margin: 20px;
    margin-top: 6rem;
    font-size: 20px;
  }

  .botones button {
    width: 300px;
  }

  .btn-volver {
    margin: 1rem 0px;
    margin-left: 1rem;
    padding-bottom: 20px;
    position: static;
  }
  .btn-volver a {
    font-size: 12px;
    background-color: #ef2d56;
    color: #fff;
    width: auto;
    text-decoration: none;
    padding: 8px 15px;
  }
  .btn-volver a:hover {
    background-color: #ad1435;
    color: white;
    scale: 1.05;
    text-decoration: none;
    cursor: pointer;
  }

  .tabla-container {
    margin: 20px;
    overflow-x: auto;
  }
  .tabla th,
  .tabla td {
    padding: 4px;
  }

  thead td {
    padding: 8px;
    font-size: 1rem;
  }

  tbody td {
    background-color: #041e5b;
    padding: 15px;
    border: 1px solid rgba(228, 228, 220, 0.5);
    color: rgba(248, 248, 248);
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
  }
  footer p {
    font-size: 13px;
  }
  footer p:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
  }

}

/* Estilos para celular */
@media only screen and (min-width: 768px) {
  .slider .list .item .content .description {
    width: 50%;
    /* color:white; */
  }
  
  .description {
    font-size: 1em!important;
    font-weight: bold;
    line-height: 1.3em;
  }
  .logo {
    width: 60px !important;
  }
  header img {
    object-fit: contain;
    width: 100%;
    height: 10vh !important;
    margin-right: 0px;
  }

  header h1 {
    font-size: 30px;
  }

  header .texto {
    font-size: 10px !important;
  }

  header .icon-radio {
    font-size: 39px !important;
  }

  h2 {
    margin: 20px;
    margin-top: 7rem;
    font-size: 20px;
  }

  .botones button {
    width: 400px;
  }

  .btn-volver {
    margin: 1rem 0px;
    margin-left: 1rem;
    padding-bottom: 20px;
    position: static;
  }
  .btn-volver a {
    font-size: 12px;
    background-color: #ef2d56;
    color: #fff;
    width: auto;
    text-decoration: none;
    padding: 8px 15px;
  }
  .btn-volver a:hover {
    background-color: #ad1435;
    color: white;
    scale: 1.05;
    text-decoration: none;
    cursor: pointer;
  }

  .tabla-container {
    margin: 20px;
    overflow-x: auto;
  }
  
  .tabla th,
  .tabla td {
    padding: 4px;
  }

  thead td {
    padding: 8px;
    font-size: 1rem;
  }

  tbody td {
    background-color: #041e5b;
    padding: 15px;
    border: 1px solid rgba(228, 228, 220, 0.5);
    color: rgba(248, 248, 248);
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
  }
  footer p {
    font-size: 13px;
  }
  footer p:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
  }

}
/* Estilos para celular */
@media only screen and (min-width: 1050px) {
  .logo {
    width: 60px !important;
  }
  header img {
    object-fit: contain;
    width: 100%;
    height: 10vh !important;
    margin-right: 0px;
  }

  header h1 {
    font-size: 30px;
  }

  header .texto {
    display: flex;
    font-size: 10px !important;
  }
  header .icon-radio {
    font-size: 39px !important;
  }

  h2 {
    margin: 20px;
    margin-top: 7rem;
    font-size: 20px;
  }

  .botones button {
    width: 500px;
    font-size: 1.6rem;
  }

  .btn-volver {
    margin: 1rem 0px;
    margin-left: 1rem;
    padding-bottom: 20px;
    position: static;
  }
  .btn-volver a {
    font-size: 20px;
    background-color: #ef2d56;
    color: #fff;
    width: auto;
    text-decoration: none;
    padding: 8px 15px;
  }
  .btn-volver a:hover {
    background-color: #ad1435;
    color: white;
    scale: 1.05;
    text-decoration: none;
    cursor: pointer;
  }

  .tabla-container {
    margin: 20px;
    overflow-x: auto;
  }
  .tabla th,
  .tabla td {
    padding: 4px;
  }

  thead td {
    padding: 8px;
    font-size: 1.2rem;
  }

  tbody td {
    background-color: #041e5b;
    padding: 15px;
    border: 1px solid rgba(228, 228, 220, 0.5);
    color: rgba(248, 248, 248);
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
  }
  footer p {
    font-size: 19px;
  }
  footer p:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
  }

}
/* Estilos para celular */
@media only screen and (min-width: 1060px) {
  .logo {
    width: 120px !important;
    
  }
  header img {
    object-fit: contain;
    width: 100%;
    height: 10vh !important;
    margin-right: 0px;
  }

  header h1 {
    font-size: 50px;
  }

  header .texto {
    font-size: 20px !important;
  }
  header .icon-radio {
    font-size: 49px !important;
  }

  h2 {
    margin: 20px;
    margin-top: 11rem;
    font-size: 29px;
  }

  .botones button {
    width: 500px;
    font-size: 1.6rem;
  }

  .btn-volver {
    margin: 1rem 0px;
    margin-left: 1rem;
    padding-bottom: 20px;
    position: static;
  }
  .btn-volver a {
    font-size: 20px;
    background-color: #ef2d56;
    color: #fff;
    width: auto;
    text-decoration: none;
    padding: 8px 15px;
  }
  .btn-volver a:hover {
    background-color: #ad1435;
    color: white;
    scale: 1.05;
    text-decoration: none;
    cursor: pointer;
  }

  .tabla-container {
    margin: 20px;
    overflow-x: auto;
  }
  .tabla th,
  .tabla td {
    padding: 4px;
  }

  thead td {
    padding: 8px;
    font-size: 1.4rem;
  }

  tbody td {
    background-color: #041e5b;
    padding: 15px;
    border: 1px solid rgba(228, 228, 220, 0.5);
    color: rgba(248, 248, 248);
    font-size: 1.3rem !important;
    font-family: "Montserrat", sans-serif;
  }
  footer p {
    font-size: 19px;
  }
  footer p:nth-child(2) {
    display: flex;
    flex-wrap: wrap;

  }

}
